node_modules
dist
build

Dockerfile

.DS_Store
.eslintcache
.vscode
.serverless
.esbuild
.pnpm-store

.env
.env.*
.npmrc
.aws-credentials
.aws-config

*-lock.json
*-lock.yaml
*.lock

*-debug.log*
*-error.log*

.dockerignore
.prettierignore
.eslintignore
