node_modules
dist
build

.DS_Store
.eslintcache
.vscode

*.config.ts
*.config.js

.env
.env.*
.npmrc
.aws-credentials
.aws-config

.env-sample.txt
.npmrc-sample.txt
.aws-config-sample.txt
.aws-credentials-sample.txt

*-lock.json
*-lock.yaml
*.lock

*-debug.log*
*-error.log*
