node_modules

.eslintcache
.pnpm-store
.serverless
.esbuild
coverage

build
dist

.DS_Store
.env
.env.*
.env-*
.npmrc
.aws-credentials
.aws-config
*.tsbuildinfo

!**.example

# Remove the following line if you want to check in your npm lock file.
*-lock.json
# Remove the following line if you want to check in your pnpm lock file.
# *-lock.yaml
# Remove the following line if you want to check in your yarn lock file.
*.lock

logs
*.log
*-debug.log*
*-error.log*
