node_modules

.eslintcache
.pnpm-store
.serverless
.esbuild
coverage

.build
dist

.DS_Store
.env
.env.*
.env-*
.npmrc
.aws-credentials
.aws-config
*.tsbuildinfo

!**.example

*-lock.json
*-lock.yaml
*.lock

logs
*.log
*-debug.log*
*-error.log*
